@tailwind base;
@tailwind components;
@tailwind utilities;

.main-image {
  background-image: url(https://www.tafesa.edu.au/img/courses/2013/T697032175/sc-adv-english-writing-grammar.JPG);
  background-size: cover;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
